@import "tailwindcss";
@source "../../index.html";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4.5rem;
}

@layer base {
    @font-face {
        font-family: 'meri';
        src: url('../font/meri.ttf') format('truetype');
    }

    .font-meri {
        font-family: 'meri', sans-serif;
    }
}

@layer components {
    .swiper {
        @apply w-full h-[260px] sm:h-[360px] md:h-[440px];
    }

    .swiper-slide {
        @apply flex items-center justify-center overflow-hidden bg-neutral-100;
    }

    .img {
        @apply block h-full w-full object-cover object-top;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #171717 !important;
    }

    .swiper-pagination-bullet-active {
        background: #171717 !important;
    }
}
