
.icon-phone:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
.icon-ccw:before { content: '\e804'; } /* '' */
.icon-cw:before { content: '\e805'; } /* '' */
.icon-phone-2:before { content: '\e806'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-mail-1:before { content: '\e80c'; } /* '' */
.icon-right-big:before { content: '\e80d'; } /* '' */
.icon-home-outline:before { content: '\e80e'; } /* '' */
.icon-heart-empty:before { content: '\e80f'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-right-1:before { content: '\f178'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
